
* {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    min-width: 920px;
}

h2 {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}

div {
    margin-bottom: 10px;
}

form {
    display: grid;
    justify-content: start;
}

input, textarea {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

img.img1 {
    width: -webkit-fill-available;
}

.Jesus {
    text-align: center;
}

.rezo {
    display: flex;
    overflow: hidden;
}
